
.flex-center{
	display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
	display: -moz-box; /* Firefox 17- */
	display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
	display: -moz-flex; /* Firefox 18+ */
	display: -ms-flexbox; /* IE 10 */
	display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
	align-items: center;
	justify-content: center;
}

.flex-align-center{
	margin: 0 auto;
}

.inline-50{
	display: inline-block;
	width: 50px;
}

.col-500{
	margin: 0 auto;
	width: 500px;
}
.col-900{
	margin: 0 auto;
	width: 900px;
}

.inline{
	display: inline-block;
}

.flex-justify-center{
	display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
	display: -moz-box; /* Firefox 17- */
	display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
	display: -moz-flex; /* Firefox 18+ */
	display: -ms-flexbox; /* IE 10 */
	display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
	justify-content: center;
}

.flex-column{
	display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
	display: -moz-box; /* Firefox 17- */
	display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
	display: -moz-flex; /* Firefox 18+ */
	display: -ms-flexbox; /* IE 10 */
	display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
	flex-direction: column;
}

.flex-row{
	display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
	display: -moz-box; /* Firefox 17- */
	display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
	display: -moz-flex; /* Firefox 18+ */
	display: -ms-flexbox; /* IE 10 */
	display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
	flex-direction: row;
}

.space-around{
	justify-content: space-around;
}

.width-60{
	width: 60%;
}

.width-33{
	width: 33%;
}

.no-border{
	border: 0px;
}

#recycle-reason{
	height: 100px;
	text-align: left;
}

.set-div{
	margin-top: 55px;
}

.height-400{
	height: 400px;
}

.panel-body .height-400{
	height: 400px;
}

.scroll-div{
	height: 320px;
	overflow: scroll;
}

.red{
	color: red;
}

.width-100p{
	width: 100px;
}

