
.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-align-center{
	display: flex;
	align-items: center;
	max-width:100%;
	flex-direction: row;
}

.flex-justify-center{
	display: flex;
	justify-content: center;
}

.flex-column{
	display: flex;
	flex-direction: column;
}

.flex-row{
	display: flex;
	flex-direction: row;
}

.space-around{
	justify-content: space-around;
}

.width-60{
	width: 60%;
}
